<app-search-options panelTitle="Search Product">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label for="inputEmail4">Name</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="inputEmail4"
          placeholder="hammer.."
        />
      </div>
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label for="inputPassword4">Type</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="inputPassword4"
          placeholder="claw.."
        />
      </div>
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label for="inputPassword4">Brand</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="inputPassword4"
          placeholder="hmbr.."
        />
      </div>
    </div>

    <hr />

    <div class="row justify-content-end">
      <button class="btn btn-primary mx-1 btn-sm">Search</button>
      <button class="btn btn-secondary ml-1 mr-3 btn-sm">Reset</button>
    </div>
  </form>
</app-search-options>
